<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>sample.NewServlet</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>vasim</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>New1</servlet-name>
        <servlet-class>sample.New1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>sample.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New2</servlet-name>
        <servlet-class>sample.New2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>sample.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regi</servlet-name>
        <servlet-class>sample.Regi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>sample.Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subm</servlet-name>
        <servlet-class>sample.Subm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enroll</servlet-name>
        <servlet-class>sample.Enroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New11</servlet-name>
        <servlet-class>sample.New11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New22</servlet-name>
        <servlet-class>sample.New22</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ahome</servlet-name>
        <servlet-class>sample.Ahome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoStuRegis</servlet-name>
        <servlet-class>sample.NoStuRegis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuNoRegist</servlet-name>
        <servlet-class>sample.StuNoRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdAcc</servlet-name>
        <servlet-class>sample.AdAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdStu</servlet-name>
        <servlet-class>sample.AdStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayCheck</servlet-name>
        <servlet-class>sample.PayCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay1</servlet-name>
        <servlet-class>sample.Pay1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>sample.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayHist</servlet-name>
        <servlet-class>sample.PayHist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAhome</servlet-name>
        <servlet-class>addsample.MAhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acheck</servlet-name>
        <servlet-class>addsample.Acheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fadd</servlet-name>
        <servlet-class>addsample.Fadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaddFac</servlet-name>
        <servlet-class>addsample.FaddFac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fcourse</servlet-name>
        <servlet-class>addsample.Fcourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fdelc</servlet-name>
        <servlet-class>addsample.Fdelc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retrive</servlet-name>
        <servlet-class>addsample.Retrive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New1</servlet-name>
        <url-pattern>/New1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New2</servlet-name>
        <url-pattern>/New2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regi</servlet-name>
        <url-pattern>/Regi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subm</servlet-name>
        <url-pattern>/Subm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enroll</servlet-name>
        <url-pattern>/Enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New11</servlet-name>
        <url-pattern>/New11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New22</servlet-name>
        <url-pattern>/New22</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ahome</servlet-name>
        <url-pattern>/Ahome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoStuRegis</servlet-name>
        <url-pattern>/NoStuRegis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuNoRegist</servlet-name>
        <url-pattern>/StuNoRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdAcc</servlet-name>
        <url-pattern>/AdAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdStu</servlet-name>
        <url-pattern>/AdStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayCheck</servlet-name>
        <url-pattern>/PayCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay1</servlet-name>
        <url-pattern>/Pay1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayHist</servlet-name>
        <url-pattern>/PayHist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAhome</servlet-name>
        <url-pattern>/MAhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acheck</servlet-name>
        <url-pattern>/Acheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fadd</servlet-name>
        <url-pattern>/Fadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaddFac</servlet-name>
        <url-pattern>/FaddFac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fcourse</servlet-name>
        <url-pattern>/Fcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fdelc</servlet-name>
        <url-pattern>/Fdelc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retrive</servlet-name>
        <url-pattern>/Retrive</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
